
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
	text-align: center;
	margin: 0px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	text-align: center;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-align: center;
}


#header p {
	font-family: 'Roboto', sans-serif;
	width: 680px;
	padding-left: 300px;
	text-align: center;
}

#question {
	margin-top: 30px;
	padding: 20px;
	background-color: #DCF0EC;
}

#gallery {
	padding: 30px;
	text-align: center;
	
}

#gallery img {
	padding: 10px;

}

#interviews {
	background-color: #B8E1D9;
	border: 3px solid #B8E1D9;
}

#interviews {
	//height: 400px;
	padding: 0px;

}

#interviews h2 {
	color: white;
	padding: 30px;
}

#grace, #emelyn, #natalie {
	display: inline;
}

#grace {
	position: relative;
}

#emelyn {
	position: relative;
}

#natalie {
	position: relative;
}



#grace p {
	width: 292px;
	position: absolute;
	//border: 20px solid black;
	font-size: 60px;
	top: -210px;
	left: 20px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(0, 0, 0, 0.2);
}


#emelyn p {
	width: 300px;
	position: absolute;
	//border: 20px solid black;
	font-size: 50px;
	top: -180px;
	left: 10px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(0,0,0, 0.2);
}

#natalie p {
	width: 301px;
	position: absolute;
	//border: 20px solid black;
	font-size: 50px;
	top: -180px;
	left: 10px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(0,0,0, 0.2);
}

h3 {
	font-family: 'Montserrat', sans-serif;
	padding-left: 20px;

}

#grace-interview {
	display: none;
}

#emelyn-interview {
	display: none;
}

#natalie-interview {
	display: none;
}


#interviews p {

	font-family: 'Roboto', sans-serif;
	padding-left: 30px;
}









